@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ol>
        <img src="" alt="Italian Trulli">
        <img src="" alt="Italian Trulli">
    </ol>
    <div>
        <ol>
        <a type="button" class="btn-secondary" asp-action="DierAdopteren">Dier adopteren</a>
        <a type="button" class="btn-secondary" asp-action="DierTerAdoptie">Dier ter adoptie doen</a>
            </ol>
    </div>
</div>
