@{
    ViewData["Inloggen"] = "Inloggen Page";
}

<div class="container text-center">
    <a>Inloggen</a>
    <form>
        <label for="fname">Email:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Wachtwoord:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <a type="button" class="btn-secondary" asp-action="">Inloggen</a>
    </form>
</div>